



:root {
  /* color */
  --primary-color: #e95a08;
  --text-color: #8987a1;
  --secondary-text-color: #000000;

  /* Font Family */
  --font-family: "Inter", sans-serif;
  --font-family-heading: "Noto Serif", serif;

  /* Font weight */
  --fontweight-normal: 400;
  --fontweight-medium: 500;
  --fontweight-semibold: 600;
  --fontweight-bold: 700;
  --fontweight-extrabold: 800;
}

body {
  font-size: 22px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}

.btn {
  color: white;
  background-color: var(--primary-color);
  padding: 26px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: var(--fw-semibold);
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 8px;
  border: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* =============
Header section */

/* ==============
navbar style */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
}
.menu li:first-child a {
  color: black;
  font-weight: var(--fw-bold);
}
.menu-card a:first-child {
  color: black;
  margin-top: 20px;
}
.navbar img {
  height: 50px;
}
.menu {
  margin-top: 20px;
  display: flex;
  gap: 30px;
  font-size: 14px;
}
.menu a {
  color: var(--text-color);
}

/* Navbar style */
/* Banner style */
#banner {
  display: flex;
  align-items: center;
  margin-top: 160px;
}
.banner-text {
  max-width: 700px;
}
.banner-title {
  margin-top: 50px;
  font-size: 4rem;
  font-weight: var(--fw-extrabold);
  font-family: var(--font-family-heading);
}
.banner-title span {
  color: var(--primary-color);
}
.banner-description {
  margin-top: 13px;
  padding-right: 10px;
  font-weight: var(--fw-normal);
  font-family: var(--font-family);
  color: var(--text-color);
}
.flower-img img {
  max-width: 100%;
}

/* Main flowers container style */
.main {
  margin-top: 150px;
  margin-bottom: 190px;
}
.main-title-header {
  width: 100%;
  text-align: center;
}
.main-title {
  font-size: 4rem;
  font-weight: var(--fw-bold);
  font-family: var(--font-family-heading);
  text-align: center;
}
.main-title span {
  color: var(--primary-color);
}
.main-description {
  max-width: 800px;
  margin: 0 auto;
  font-weight: var(--fw-normal);
  font-family: var(--font-family);
  color: var(--text-color);
  text-align: center;
}

/* flowers card style */
.main-flowers-cards {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 50px;
  column-gap: 20px;
}
.flowers-card {
  text-align: center;
  font-family: var(--font-family);
  line-height: 45px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease-in-out;
}
.flowers-card:hover {
  transform: scale(1.05);
}
.flowers-card img {
  width: 100%;
  height: 300px;
  border-radius: 8px;
}
.card-title {
  margin-top: 30px;
  font-size: 22px;
  font-weight: var(--fw-medium);
}
.flowers-price {
  font-size: 22px;
  font-weight: var(--fw-bold);
  margin-bottom: 20px;
}
.btn {
  width: 100%;
  transition: 0.3s ease-in-out;
}
.btn:hover {
   background-image: linear-gradient(to right, #e74c3c, #f39c12);
  transform: scale(1.05);
}

/* Plants Lover Style */
.plants-lover {
  display: flex;
  gap: 90px;
  margin-bottom: 50px;
  position: relative;
}
.trust {
  position: absolute;
  width: 280px;
  top: -100px;
  right: 0;
  left: 230px;
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}
.trust:hover{
  animation-play-state: paused;
}

@keyframes spin {
  0%{
    
  }
  100%{
    transform: rotate(360deg);
    
  }
}

.plants-lover img {
  max-width: 100%;
  height: 100%;
  border-radius: 2px;
}
.plants-lover-text {
  margin-top: 34px;
  max-width: 700px;
}
.plant-lover-title {
  font-size: 4rem;
  font-weight: var(--fw-bold);
  font-family: var(--font-family-heading);
}
.plant-lover-list li {
  list-style: disc;
  padding: 0 39px;
  margin-left: 50px;
  margin-top: 20px;
  font-weight: var(--fw-normal);
  color: var(--text-color);
}
/* latest image section */
.latest-deals {
  margin-bottom: 180px;
}
.latest-image-section {
  margin: 0 auto;
  margin-top: 50px;
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: 30% 67%;
  column-gap: 30px;
  row-gap: 30px;
  font-family: var(--font-family-heading);
  font-weight: var(--fw-bold);
  color: white;
  text-align: center;
}
.bloom-plant,
.ana-plant {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/deal-bloom.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  border-radius: 24px;
  padding-top: 70px;
}
.ana-plant {
  margin-top: 30px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/deal-ana.png);
}
.zabo-plant {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../assets/deal-zabo.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border-radius: 24px;
  font-size: 40px;
  padding-top: 150px;
}
.Shop-title {
  text-decoration: underline;
}