



:root {
  /* color */
  --primary-color: #e95a08;
  --text-color: #8987a1;
  --secondary-text-color: #000000;

  /* Font Family */
  --font-family: "Inter", sans-serif;
  --font-family-heading: "Noto Serif", serif;

  /* Font weight */
  --fontweight-normal: 400;
  --fontweight-medium: 500;
  --fontweight-semibold: 600;
  --fontweight-bold: 700;
  --fontweight-extrabold: 800;
}

body {
  font-size: 22px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
}

.btn {
  color: white;
  background-color: var(--primary-color);
  padding: 26px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: var(--fw-semibold);
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 8px;
  border: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}